*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}


#blocks {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    width: 100%;
    background: #FFD62A;
    height: 280px;
    align-items: flex-end;
    flex-flow: row;
    
}

#blocks div {
    /*flex: 0 0 100px;*/
    /*padding: 40px 0;*/
    text-align: center;
    background: #B02AFF;
    height: 105px;
    width: 105px;
    margin-left: 7px;
}
