* {
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  background: rgb(221, 208, 208);
  padding-top: 180px;
  font-family: 'Lato', sans-serif;
}

section.header {
  /* display: grid; */
  position: fixed;
  width: 100%;
  height: 70%;
  /* grid-template-rows: minmax(50px, auto);
  grid-template-columns: 250px 1fr 210px;
  grid-gap: 0px; */
  top: 0;
  background: url("assets/header7.png") 100% 100% no-repeat;
  /* background-size: cover; */
}

section.main {
  display: grid;
  width: 100%;
  grid-template-rows: minmax(60px, auto);
  grid-template-columns: 20px 40px 1fr;
  grid-gap: 10px;
  background: white;
}

container {
  display: grid;
  grid-template-rows: minmax(100px, auto);
  grid-template-columns: 9fr 3fr;
  grid-gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

container section.newpost {
  /* background: tomato; */
  /* margin-right: 20px; */
  display: grid;
  grid-template-rows: 50px 400px;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

container section.newpost div {
  /* background: lightblue; */
  width: 100%;
}

container section.newpost div.newpost-local {
  background: #4AA3DF;
  display: flex;
  justify-content: center;
  align-items: center;
}

container section.newpost div.newpost-local a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

section.main div {
  display: flex;
  align-items: center;
}

section.main div.index {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  margin-left: 30px;
}

section.main div.arrows {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}

section.main div.arrows div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

section.main div.title {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}

section.main div.title div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section.main div.title div.head{
  font-size: 22px;
  color: blue;
}

section.main div.title div.description{
  font-size: 16px;
  color: grey;
}

section.main div.title div.remove{
  font-size: 16px;
  color: rgb(88, 88, 88);
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header div a {
  text-decoration: none;
  color: #000;
}






.container {
  width: 100%;
  height: 100%;
  border: 2px dotted green;
  padding: 80px;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  line-height: 200%;
}
.thumbnails img {
  cursor: pointer;
}
li {
  font-size: 18px;
}
input {
  width: 150px;
}
label {
  font-size: 20px;
}