* {
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  background: #fff;
  padding-top: 50px;
}

section.header {
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-rows: minmax(50px, auto);
  grid-template-columns: 250px 1fr 210px;
  grid-gap: 0px;
  top: 0;
  background: #F0F0F0;
}

section.main {
  display: grid;
  width: 100%;
  grid-template-rows: minmax(60px, auto);
  grid-template-columns: 20px 40px 1fr;
  grid-gap: 10px;
}

section.main div {
  display: flex;
  align-items: center;
}

section.main div.index {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  margin-left: 30px;
}

section.main div.arrows {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}

section.main div.arrows div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

section.main div.title {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}

section.main div.title div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section.main div.title div.head{
  font-size: 22px;
  color: blue;
}

section.main div.title div.description{
  font-size: 16px;
  color: grey;
}

section.main div.title div.remove{
  font-size: 16px;
  color: rgb(88, 88, 88);
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header div a {
  text-decoration: none;
  color: #000;
}






.container {
  width: 100%;
  height: 100%;
  border: 2px dotted green;
  padding: 80px;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  line-height: 200%;
}
.thumbnails img {
  cursor: pointer;
}
li {
  font-size: 18px;
}
input {
  width: 150px;
}
label {
  font-size: 20px;
}