body {
	padding: 50px;
	font-family: Consolas;
}

div {
	width: 136px;
	height: 136px;
	line-height: 136px;
	text-align: center;	
	background: #B90CEB;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin: 5px;
	color: #fff;
	font-size: 32px;
	font-weight: bold;
}

div:nth-child(n+2) {
	background: #0CEBDE;
}
div:last-child {
	background: #EBBE0C;
}