body {
  margin: 0;
  background: rgb(189, 202, 230);
}
.container {
  width: 100%;
  height: 100%;
  border: 2px dotted green;
  margin: 20px auto;
  padding: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.thumbnails img {
  cursor: pointer;
}
li {
  font-size: 18px;
}