*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 790px;
    height: 660px;
    margin: 0 auto;
    padding: 0px;
    border: 5px solid black;
    border-radius: 25px;
    

}

.blocks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    flex-flow: column;
    flex-grow: 1; 
}

#menu {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-bottom: 5px solid black;
}

.header {
    display: flex;
    background: #B02AFF;
    flex-basis: 60px;
    width: 100%;
    flex-flow: row;
    justify-content: flex-start;
    /* padding: 13px; */
    padding: 13px 13px 13px 30px;
    box-sizing: border-box;
}

.base {
    display: flex;
    flex-basis: 455px;
    width: 100%;
    flex-flow: row;
    justify-content: center;
    padding-top: 10px;
    
    /*box-sizing: border-box;*/
}

.footer {
    display: flex;
    background: #CCCCCC;
    flex-basis: 60px;
    width: 730px;
    margin-left: 30px;
    margin-top: 10px;
}

.main {
    display: flex;
    flex-basis: 450px;
    /* height: 455px; */
    background: #FFD62A
}

.sidebar {
    display: flex;
    flex-basis: 270px;
    /* height: 455px; */
    background: #51D400;
    margin-right: 10px;
}

.header div {
    background: #2AEAFF;
    width: 100px;
    margin-right: 7px;
}
