body {
  background: rgb(189, 202, 230);
}
div.container {
  margin: 20px auto;
  width: 600px;
  height: 600px;
  border: 2px dotted green;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 25% 75%;
  overflow: hidden;
}

div.container section.yourcity {
  line-height: 200%;
}

div.container section.map {
  grid-column: span 2;
 }

input {
  width: 150px;
}
label {
  font-size: 20px;
}

button {
  background-color: rgb(22, 84, 197);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
}
