body {
  background: rgb(189, 202, 230);
}
div.container {
  margin: 20px auto;
  width: 600px;
  height: 600px;
  border: 2px dotted green;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 25% 75%;
  overflow: hidden;
}

div.container section.yourcity {
  line-height: 200%;
}


div.container section.map {
  grid-column: span 2;
}

input {
  width: 150px;
}
label {
  font-size: 20px;
}