body {
  margin: 20px;
  background: rgb(189, 202, 230);
}
div.container {
  width: 600px;
  height: 600px;
  border: 2px dotted green;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 25% 75%;
  overflow: hidden;
  /* line-height: 200%; */
  /* background: blue; */
}

div.container section.yourcity {
  /* background: yellow; */
 
}

div.container section.coordinates {
  /* background: tomato; */
  
}

div.container section.map {
  /* background: purple; */
  grid-column: span 2;
}

input {
  width: 150px;
}
label {
  font-size: 20px;
}